.header-container{    display: flex;
                      flex-direction:row;
                      margin-bottom: 30px;
                      justify-content: space-between;}
.search-bar-container{margin-left: 60px;
                      margin-right: 60px;
                      flex: 1;
                      max-width: 500px;
                      background-color: lightgray;}
.search-bar{         
                      height: 35px;
                      font-family: Arial, Helvetica, sans-serif;
                      font-size: 15px;
                      width: 300px;
                      padding-left: 10px;
                      border: gray solid 1px;}  