.Sidebar{ background-color: white;
          position: fixed;
          padding-top: 25px;
          display: flex;
          
          flex-direction: column;
          left: 0;
          align-items: center;
          padding-bottom: 215px;
          top: 50px;
          bottom: 0;
          z-index: 1000;
          justify-content: space-between;
          width: 78px;
          bottom: 0;}

.sidebar-buuton{background-color: white;
                font-size: 10px;
                cursor: pointer;
                align-items: center;
                line-height: 30px;
                display: flex;
                flex-direction: column;
                border: none;}
.sidebar-logo{  width: 23px;
                height: 23px;}
.sidebar-container{}