
  
.video-menitor{           width: 100%;}
.video-menitor-container{}
.channel-menitor{         width: 40px;
      vertical-align: top;
      border-radius: 30px;}
.video-title{             font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 14px;
      width: 100%;
      line-height: 22px;
      padding-left: 10px;}
.channel-name{            font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      color: rgb(95, 95, 95);
      margin: 0;
      padding-left: 10px;}
.channel-info{            font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      color: rgb(95, 95, 95);
      margin-top: 6px;
      padding-left: 10px;}
.video-container{         width: 100%;
      height: 100%;
      position: relative;
      display: inline-block;}
.channel-menitor-container{display:inline-block;
      padding-top: 10px;
      vertical-align: top;
      width: 40px;}     
.channel-info-container{  display: grid;
                          grid-template-columns: 1fr 1fr 1fr;
                          width:360px; }
.video-title-container{   width: 100%;}
.channel-name-container{  display: inline-block;}
.channel-info-container{  display: inline-block;}


.under-menitor-container{display: flex;
                          flex-direction: row;
                          flex: 1;}        

